/* CSS styles for the calculator interface */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.calculator {
  position: absolute;
  left: 25%;
  top: 10%;
  width: 50%;
  background-color: #c6c6c6;
}

.display-result {
  background-color: #858694;
  width: 100%;
  border: none;
  padding: 0 2%;
  font-size: 24px;
  height: 65px;
  color: #fff;
  text-align: right;
}

.functional-buttons {
  padding: 0.5% 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2px;
}

.grid-item {
  grid-column: 1/3;
}

button {
  padding: 15px;
  font-size: 16px;
  border: none;
  height: 65px;
  border-radius: 2px;
  background-color: #e0e0e0;
}

button:hover {
  background-color: #c6c6c6;
}

button:active {
  background-color: #ccc;
}

.orange-btn {
  background-color: #f2913e;
}

.orange-btn:hover {
  background-color: #e88025;
}

.orange-btn:active {
  background-color: #a14d04;
}
